<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sides of Corona</title>

  <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.0.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.0.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.0.min.css" type="text/css">

<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.0.min.js"></script>
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.0.0.min.js"></script>
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.0.min.js"></script>
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.0.min.js"></script>
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">COVID-19 Impacts on the World</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('cases_confirmed') }}">The Dark Side</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('climate_pm25') }}">The Climate Side
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row">
    <h2 style="margin-top:10px;margin-left:200px;">Air Quality Index:</h2>
    <div class="col-sm-4" style="margin-top:10px;">
      {% if toggle == True %}
        <a role="button" href="{{ url_for('climate_pm25') }}" class="btn btn-dark" style="width:80px;">PM2.5</a>
        <a role="button" href="{{ url_for('climate_no2') }}" class="btn btn-outline-dark" style="width:80px;">NO2</a>
      {% else %}
        <a role="button" href="{{ url_for('climate_pm25') }}" class="btn btn-outline-dark" style="width:80px;">PM2.5</a>
        <a role="button" href="{{ url_for('climate_no2') }}" class="btn btn-dark" style="width:80px;">NO2</a>
      {% endif %}
    </div>
  </div>

  <!-- Page Content -->
  <div style="margin-left:180px;">
  {{ div | safe }}
  {{ script | safe }}
  </div>
  <!-- Bootstrap core JavaScript -->

  <script src="{{ url_for('static', filename='jquery/jquery.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script>
    var intervalID;
  </script>

</body>

</html>
